<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/index.css">
<footer>
    <div class="container">
        <p>&copy; 2024 Burger Delicia. Todos los derechos reservados.</p>
    </div>
</footer>
