<link rel="stylesheet" href="/css/home.css">
<nav class="sidebar">
    <h1>Dashboard</h1>
    <ul>
        <li><a href="/dashboard/home" class="active" data-page="home">Inicio</a></li>
        <li><a href="/dashboard/ventas" data-page="sales">Ventas</a></li>
        <li><a href="/dashboard/inventario" data-page="inventory">Inventario</a></li>
        <li><a href="/dashboard/clientes" data-page="customers">Clientes</a></li>
        <li><a href="/dashboard/categorias" data-page="reports">Categorias</a></li>
        <li><a href="/login/logout">Cerrar sesión</a></li>

    </ul>
</nav>
