header {
    background-color: var(--color-primary);
    color: white;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
